.project_icon1 {
    background-image: url("../image/project14.3.png");
}
.project_icon2 {
    background-image: url("../image/project14.1.png");
}
.project_icon3 {
    background-image: url("../image/project14.4.png");
}
.project_icon4 {
    background-image: url("../image/project14.2.png");
}
.project_icon5 {
    background-image: url("../image/project14.5.png");
}
.project_icon6 {
    background-image: url("../image/project14.6.png");
}
