.project_icon1 {
    background-image: url("../image/img2.png");
}
.project_icon2 {
    background-image: url("../image/img3.png");
}
.project_icon3 {
    background-image: url("../image/img4.png");
}
.project_icon4 {
    background-image: url("../image/img6.png");
}