.project_icon1 {
    background-image: url("../image/project15.1.png");
}
.project_icon2 {
    background-image: url("../image/project15.2.png");
}
.project_icon3 {
    background-image: url("../image/project15.3.png");
}
.project_icon4 {
    background-image: url("../image/project15.4.png");
}
.project_icon5 {
    background-image: url("../image/project15.5.png");
}
.project_icon6 {
    background-image: url("../image/project15.6.png");
}
.project_icon7 {
    background-image: url("../image/project15.7.png");
}
.project_icon8 {
    background-image: url("../image/project15.8.png");
}
.project_icon9 {
    background-image: url("../image/project15.9.png");
}
.project_icon10 {
    background-image: url("../image/project15.10.png");
}
.project_icon11 {
    background-image: url("../image/project15.11.png");
}
.project_icon12 {
    background-image: url("../image/project15.12.png");
}
.project_icon13 {
    background-image: url("../image/project15.13.png");
}
.project_icon14 {
    background-image: url("../image/project15.16.png");
}