html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background-color: white;
}

/* text */
h1, h2, h3, h4, h5, a{
	margin: 0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #2368a1;
}
a:hover {
	text-decoration: underline;
	color: red;
}

.projects_content_text h1 {
	font-size: 20px;
	padding: 15px;
}

.projects_content_text h2 {
	font-size: 16px;
	padding: 10px;
	text-align: right;
}

.popup_title {
	font-size: 22px;
	padding: 15px;
	text-align: center;
	font-weight: 600;

}

.popup_text {
	font-style: normal;
	font-size: 16px;
	padding: 10px;
	font-weight: 200;
}

.popup_dop h2 {
	font-size: 16px;
	padding: 10px;
	text-align: right;
}

/* popup */
body.lock {
	overflow: hidden;
}

.popup_img {
	background-image: url(../image/project6.1.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
}

.indicator {
	width: 100%;
	height: 6%;
    display: flex;
    align-items: flex-end;
	justify-content: center;
	position: absolute;
	
	left: 0; right: 0; bottom: 0; top: 0;
}

.swape {
	height: 100%;
    display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	
	-webkit-touch-callout: none; 
	-webkit-user-select: none;   
	-khtml-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;  
	user-select: none; 
}
	
.swape img  {
	pointer-events: none;
	
}
.swape :hover  {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
}

.swape_left {
	transform: rotate(180deg);
    display: flex;
    align-items: center;
	justify-content: center;
	padding: 0 20px 0 60px;
}

.swape_right {
	padding: 0 20px 0 60px;
	display: flex;
    align-items: center;
	justify-content: center;
}

.popup {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	top:0;
	left:0;
	opacity:0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 15;
}

.popup.open {
	opacity:1;
	visibility: visible;
}

.popup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup_content {
	background-color: #f8f9fb;
	max-width: 80%;
	padding: 20px;
	position:relative;
	border-radius: 10px;
	
	display: block;
	flex-direction: row;
	justify-content: flex-start;
}

.popup_close {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
}

/* intro  */
.intro_content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro_video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.intro_nick {
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
	text-align: center;
}

.intro_scroll {
	position:absolute;
	object-fit: cover;
	z-index: 2;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.intro_scroll img {
	width: 60%;
    height: 60%;
}
.intro_scroll img:hover {
	color: black;
	background-color: #000;
	opacity: 0.5;
}

.intro_scroll a {
	text-align: center;
	align-items: stretch;
}

/* navbar */
.header {
	background: #f8f9fb;
	z-index: 10; 
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.header_body{
	max-width: 1024px;
	margin: auto;
}

.header_href {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px;
}

.header_content {
	display: flex;
	justify-content: space-between;
}

.header_content h2, h3 {
	font-size: 16px;
	margin: 6px;
}
	
.header_content a {
	color: black;
	display: block;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 18px;
}

.header_href :hover {
	border-bottom: 2px solid red;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .help_block {
	padding-top: 54px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_dropdown {
	display: flex;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;  
}

.dropdown {
    position: relative;
    display: inline-block;
	background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fb;
    min-width: 160px;
	right: 0px;
	text-align: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd
}

.show {
	display:block;
}

.help_block {
	width: 100%;
	background: #f8f9fb;
}

/* abautMe */
.aboutMe {
	background-color: #E5E5E5;
}

.aboutMe_body{
	max-width: 1024px;
	margin: auto;
}

.aboutMe_content {
    margin-bottom: 50px;
	border-top: 7px solid #2368a1;
}

.aboutMe_content {
    margin-bottom: 50px;
}

.aboutMe_content {
	box-shadow: 3px 3px 10px #2368a1;
	background: #f8f9fb;
}


.aboutMe_content {
	box-shadow: 3px 3px 10px #2368a1;
	background: #f8f9fb;
}

.block_title{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block_title_photo {
	background-image: url(../image/photo1.png);
	background-size: cover;
	background-position: center center;
	min-height: 450px;
	transition: background 0.2s ease;
}

.nick_title {
	margin: 30px;
}

.block_title_nick h3 {
	font-size: 18px;
	font-weight: normal;
}

.aboutMe_content_block {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

/* skills */
.skills {
	background-color: #f8f9fb;
}

.skills_body {
	max-width: 1024px;
	margin: auto;
}

.skills_content {
	margin: auto;
}

.skills_content_title {
	position: relative;
}	

.skills_content_group  {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-bottom: 30px;
	font-size: 10px;
}

.skills_icon {
	width: 60px;
	height: 60px;
	margin: 15px;
}

.skills_content_text h1 {
	text-align: center;
	width: 50%;
	height: 95%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	color: white;
 }

.skills_content_text h2 {
	text-align: center;
	overflow: auto;
	margin: auto;
	position: absolute;
	color: white;
}

.skills_content_skill {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
	text-align: center;
	justify-content: center;
	padding: 15px;

}

.skill_block {
	background-image: url(../image/project1.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	min-width: 375px;
	height: 100%;
	transition: background 0.2s ease;
	margin: auto;
}

.skill_block_effect {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;	left: 0; right: 0; bottom: 0;
	background: #000;
	opacity: 0.6;
}
.name_block {
	text-align: center;
	color: #2368a1;
}

.name_block h1 {
	border-bottom: 2px solid #2368a1;
	width: 25%;	
    margin: auto;
    padding-bottom: 15px;
}
.name_block h2 {
	padding-top: 10px;
	font-size: 16px;
	color: black;
	font-weight: 200;
}

/* portfolio */
.portfolio {
	background-color: #E5E5E5;
}
.portfolio_body {
	max-width: 1024px;
	margin: auto;
}
.portfolio_content {
	text-align: center;
	padding: 15px;
}

.portfolio_video {
	padding-bottom: 10px;
}

.slider {
	margin: auto;
	background-color: white;
	width: 630px;
	overflow: hidden;
	position: relative;

}
.portfolio_block {
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-bottom: 20px;
}
.swape_video img  {
	pointer-events: none;
}
.swape_video {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;   
	-khtml-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;  
	user-select: none; 
	
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items:center;
}

.swape_video :hover  {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
}

.swape_video_left {
	transform: rotate(180deg);
	padding: 0 7px 0 15px;
}

.swape_video_right {
	padding: 0 7px 0 15px;
}

.slider_line img{
	padding: 20px 30px;
	height: 80px;
}
.slider_line {
	width: 2100px;
	display: flex;
	left: 0px;
	position: relative;
	transition: all ease 1s;
}

.video_on_youtube {
	width: 100%;
	min-height: 576px;
	aspect-ratio: 16 / 9;
}

.portfolio_block_title {
	border-top: 7px solid #2368a1;
	box-shadow: 3px 3px 10px #2368a1;
	background: #f8f9fb;
	padding: 20px;
}

/* projects */
.projects {
	background-color: white;
}

.projects_body {
	max-width: 1024px;
	margin: auto;
}

.projects_content {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
	text-align: center;
	padding: 15px;
}

.projects_block {
	border-top: 7px solid #2368a1;
	margin-bottom: 25px;
	background: white;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	box-shadow: 3px 3px 10px #2368a1;
}

.project_icon1, .project_icon2, .project_icon3, .project_icon4, .project_icon5, .project_icon6, .project_icon7, .project_icon8,.project_icon9{
	background-size: cover;
	background-position: center center;
	min-height: 350px;
}

.project_icon1 {
	background-image: url(../image/project1.1.jpg);
}
.project_icon2 {
	background-image: url(../image/project2.1.jpg);
}
.project_icon3 {
	background-image: url(../image/project3.1.jpg);
}
.project_icon4 {
	background-image: url(../image/project4.1.jpg);
}
.project_icon5 {
	background-image: url(../image/project5.1.jpg);
}
.project_icon6 {
	background-image: url(../image/project6.1.jpg);
}
.project_icon7 {
	background-image: url(../image/project7.1.jpg);
}
.project_icon8 {
	background-image: url(../image/project8.1.jpg);
}
.project_icon9 {
	background-image: url(../image/project9.png);
}

/* kontacts */
.kontacts_bg {
	background-image: url(../image/bg_github.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
	transition: background 0.2s ease;		
	position:relative;
}

.kontacts_block_effect {
	width: 100%;
	position: absolute;
	top: 0;	left: 0; right: 0; bottom: 0;
	/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent); */
	background: rgba(255, 255, 255, 0.5);
	display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts_ref_help {
	text-align: center;
}

.contacts_ref {
	position: absolute;
	width: 100%;
	margin: auto;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.contacts_ref img {
	max-width: 50px;
	height: auto;
}
.contacts_ref a {
	padding: 4px;
}
.contacts_ref img:hover {
	padding: 12px;
	background: #E5E5E5;
	border-radius: 10px;
}

/* basement */
.basement {
	background-color: #1E2939;
	padding: 15px;
}

.basement_body {
	max-width: 1024px;
	margin: auto;
}

.basement_content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.basement_group{
	text-align: center;
}
.basement_title {
	padding: 5px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}
.basement_text a {
	display: block;
	flex-direction: column;
	padding: 3px;
	font-size: 14px;

}

/* game_snake */
.popup_game {
	visibility: hidden;
}